/* 로봇 카메라 모니터링 */

/* 모니터링 조작 탭 */
.control-container {
    width: 100%;
    height: 100%;
}

.control-container > .ant-card-body {
    width: 100%;
}

.robot-control-wrap button,
.robot-camera-control-wrap button {
    background: #808080;
    color: black;
    display: flex;
    justify-content: center;
}

.robot-control, .robot-control-1 {
    margin-bottom: 10px;
}

.robot-control-wrap {
    display: flex;
    justify-content: space-around;
}

.robot-camera-control-wrap {
    float: left;
    margin-left: 30px;
}

.robot-camera-control-wrap>div {
    margin: 13px 0;
}

.camera-top-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.camera-top-button>button,
.center-button>div>button,
.center-button>div>div,
.camera-bottom-button>button {
    width: 7%;
}

.center-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-button>div {
    width: 32px;
    height: 32px;
}

.center-button .camera-left-button {
    margin-right: 13px;
}

.center-button .camera-right-button {
    margin-left: 13px;
}

.center-button .camera-center-button {
    padding: 3px 0 0 2px;
}

.camera-bottom-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.zoom-slider-wrap {
    display: flex;
    float: left;
}

.zoom-slider {
    margin-left: 50px;
    height: 140px;
}

/* 컨트롤 */

.robot-control-1 {
    margin-bottom: 10px;
}

.robot-control-1 .radio {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.robot-control-1 .radio div {
    margin-left: 15px;
}

.robot-control-1 .light-toggle {
    margin-bottom: 10px;
}

.robot-control-1 .light-toggle,
.robot-control-1 .uvlight-toggle {
    width: 100%;
}

.robot-control-1 .light-toggle .light-toggle-button,
.robot-control-1 .uvlight-toggle .uvlight-toggle-button {
    width: 25%;
    margin-left: 15px;
}

/* 스테이션 컨트롤 */
.station-move {
    position: relative;
}

.ant-form-item:first-child {
    margin-top: 10px;
}

.ant-form-item {
    margin-bottom: 12px;
}

.ant-form-item:last-child {
    margin-bottom: 8px;
}

.station-move-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    background: #808080;
    color: black;
}

/* 터널 상황*/
.robot-tunnel-current {
    position: relative;
    width: 70%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 0.5px solid #303030;
}

.robot-tunnel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 20px;
    height: 100px;
    box-sizing: border-box;
    background-color: blanchedalmond;
}

.robot-tunnel-direction {
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: 700;
    top: 0;
    left: 10px;
}

.robot-tunnel-rail {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    border: 3px solid #000;
}

.robot-cctv {
    position: absolute;
    margin-left: -130px;
    font-size: 20px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.robot {
    position: absolute;
    display: flex;
    width: 30px;
    height: 30px;
    margin: 0 40px;
    background: #1890FF;
    border: 3px solid blue;
}

.tunnel-current-status {
    width: 20%;
    height: 250px;
    border-right: 0.5px solid #303030;
}

.tunnel-current-status .tunnel-status {
    height: 100%;
    padding: 15px 15px 0;
}

.tunnel-status p {
    text-align: left;
}

/* 스케줄 */

.schedule-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    background-color: #808080;
    color: black;
}

.ant-form-item-control-input-content {
    width: 100%;
}

.ant-form-item-control-input-content > .start-location,
.ant-form-item-control-input-content > .end-location {
    width: 48%;
}

.ant-form-item-control-input-content > .start-location {
    margin-right: 4%;
}

/* 로봇 환경 센서 */

.robot-data-chart {
    border: 0.5px solid #303030;
    padding: 3px;
    width: 50%;
}

.robot-data-chart .highcharts-container {
    padding-top: 8px;
}

/*
.robot-chart-2,
.robot-1 {
    border: 0.5px solid #B0B0B0;
    display: flex;
    justify-content: space-around;
}

.robot-1 {
    margin-right: 10px;
}*/

/* 로봇 상태 */
.robot-img {
    width: 50%;
    height: 130px;
    border: 0.5px solid #b0b0b0;
    float: left;
}

.robot-img>img {
    width: 100%;
    height: 100%;
}

.robot-info {
    display: flex;
    width: 100%;
    justify-content: space-around;
    border: 0.5px solid #303030;
}

.robot-info .chart {
    width: 33%;
}

.robot-info p {
    text-align: left;
    line-height: 25px;
}

/* 게이지 차트 */
/* 변동 가능, 차트 선택 x */

.gauge-chart, .thermom {
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gauge-chart {
    width: 35%;
}

.gauge-title {
    text-align: center;
}

.current-chart {
    border-right: 0.5px solid #303030;
}

.thermometer__bg-color {
    background: linear-gradient(#f44336,#f49136,#FEFF37,#51B241)!important;
}

/*
.apexcharts-text.apexcharts-datalabel-value {
    fill: #fff !important;
    margin-top: -20px;
}

#gauge-chart1 {
    border-left: 0.5px solid #303030;
    width: 33% !important;
}

#gauge-chart1>svg {
    margin-top: 20px;
}

.highcharts-background {
    fill: transparent;
}

.speedchart {
    border-left: 0.5px solid #303030;
}

.speedometer {
    border-left: 0.5px solid #303030;
    padding-top: 10px;
}
*/