.ant-breadcrumb {
    background:#e6f7ff;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 25px;
    padding: 0;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 2;
    border-bottom: 0.5px solid #1890ff;
}

.ant-breadcrumb > span:first-child {
    margin-left: 24px;
}

.ant-tabs-top > .ant-tabs-nav {
    margin-top: 30px;
    margin-bottom:10px;
    margin-left: 2px;
}

.contents {
    margin-top:30px;
}

.ant-layout-content {
    background: #f0f0f0;
}

.dashboard {
    margin-top: 0;
    margin: 0 5px;
}