.ant-breadcrumb {
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 25px;
    padding: 0;
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 2;
    background-color: black;
    border-bottom: 0.5px solid #f0f0f0;
}

.ant-breadcrumb > span:first-child {
    margin-left: 24px;
}

.ant-tabs-top > .ant-tabs-nav {
    margin-top: 30px;
    margin-bottom:0px;
    margin-left: 0;
}

.contents {
    margin-top:30px;
}

.robot-contents {
    margin-top: 0;
}


.dashboard {
    margin-top: 0;
    margin: 0 5px;
}

.unit-box {
    float: right;
    padding: 5px;
    background: #a0a0a0;
    font-size: 12px;
    color: black;
}

.download {
    text-decoration: none;
}

.download:hover {
    text-decoration: underline;
}