.ant-card-body {
    padding: 12px;
}

.video-react .video-react-big-play-button {
    visibility: hidden;
}

.row-video {
    justify-content: center;
}

.video-info {
    position: absolute;
    color: white;
    margin-top: -50%;
}

.ant-modal-confirm-error .ant-modal-content {
    background: #da0101ec;
}

.ant-modal-confirm-error .ant-modal-content button {
    background: white;
    color: black;
    border-color: white;
}

/* 로봇 위치 및 상태 */

.robot-location {
    position: relative;
}

.robot-location-bar {
    position: relative;
    border: 3px solid #543884;
    margin-top: 10px;
    margin-bottom: 30px;
}

.robot-device {
    position: relative;
    height: 0;
}

.robot-location .robot-device .robot {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #367589;
    border: 1.5px solid #fff;
    z-index: 100;
    top: -43px;
    left: 456px;
}

.robot-green {
    background: #005f00 !important;
}

.robot-yellow {
    background: #f5ac4e !important;
}

.robot-red {
    background: #c0424e !important;
}

.arrow-left {
    display: none;
    /* display: inline-block */
    position: absolute;
    width: 20px;
    height: 10px;
    top: 3px;
    left: -21px;
    background-color: #206794;
}

.arrow-left:after {
    position: absolute;
    content: "";
    clear: both;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #206794;
    width: 0;
    height: 0;
    top: -5px;
    left: -10px;
}

.arrow-right {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 10px;
    top: 3px;
    left: 18px;
    background-color: #206794;
}

.arrow-right:after {
    position: absolute;
    content: "";
    clear: both;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #206794;
    width: 0;
    height: 0;
    top: -5px;
    left: 20px;
}

/* 사고 발생 위치 */
.event {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.event-section {
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
    height: 60px;
    padding: 0;
    margin: 0;
    background: #808080;
    border: 0.5px solid #000;
}

.event-section-red {
    display: inline-block;
    box-sizing: border-box;
    width: 10%;
    height: 60px;
    padding: 0;
    margin: 0;
    background: #808080;
    border: 0.5px solid #000;
    background: #c0424e;
}

.event .robot-tunnel,
.event .tunnel-section,
.event .tunnel-section-red {
    height: 50px;
}
