/* 터널 상황*/
.tunnel-current {
    position: relative;
    width: 80%;
    height: 150px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.tunnel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #543884;
}

.tunnel-direction {
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: 700;
    top: 0;
    left: 10px;
}

.tunnel-rail {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    border: 3px solid #000;
}

.cctv {
    position: absolute;
    margin-left: -130px;
    font-size: 20px;
    color: black;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.robot {
    position: absolute;
    display: flex;
    width: 15px;
    height: 15px;
    margin: 0 40px;
    background: #1890FF;
    border: 1.5px solid blue;
}

/* FBG */

.fbg-chart {
    margin: 5px 0;
}

/* 모니터링 조작 탭 */

.tunnel-robot-move-control-wrap {
    display: flex;
    justify-content: space-around;
    margin: 7% 0;
}

.tunnel-robot-camera-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tunnel-robot-camera-control-wrap {
    display: flex;
    flex-direction: column;
    ;
}

.tunnel-robot-move-control-wrap button,
.tunnel-robot-camera-wrap button {
    display: flex;
    justify-content: center;
}

.tunnel-robot-camera-control-wrap>div {
    margin: 5px 0;
}

.tunnel-camera-top-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tunnel-camera-top-button>button,
.tunnel-center-button>div>button,
.tunnel-center-button>div>div,
.tunnel-camera-bottom-button>button {
    width: 7%;
}

.tunnel-center-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tunnel-center-button>div {
    width: 32px;
    height: 32px;
}

.tunnel-center-button .tunnel-camera-left-button {
    margin-right: 13px;
}

.tunnel-center-button .tunnel-camera-right-button {
    margin-left: 13px;
}

.tunnel-center-button .tunnel-camera-center-button {
    padding: 3px 0 0 2px;
}

.tunnel-camera-bottom-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tunnel-zoom-slider-wrap {
    display: flex;
    float: left;
}

.tunnel-zoom-slider {
    height: 140px;
}

/* 컨트롤 */

.tunnel-robot-control {
    margin-bottom: 0px;
}

.tunnel-robot-control .radio {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.tunnel-robot-control .radio div {
    margin-left: 15px;
}

.tunnel-robot-control .light-toggle {
    margin-bottom: 10px;
}

.tunnel-robot-control .light-toggle,
.tunnel-robot-control .uvlight-toggle {
    width: 100%;
}

.tunnel-robot-control .light-toggle .light-toggle-button,
.tunnel-robot-control .uvlight-toggle .uvlight-toggle-button {
    width: 25%;
    margin-left: 15px;
}

/* 현황 */
.status-time {
    text-align: right;
    font-size: 12px;
}

.apexcharts-legend-text {
    color: white !important;
}

.apexcharts-text.apexcharts-pie-label {
    fill: black !important;
    font-weight: bold;
}

.sensor-status .ant-card-body {
    padding: 1px 0 0 0;
}

.sensor-status .sensor {
    display: flex;
    justify-content: flex-start;
    border-bottom: 0.5px solid #303030;
}

.sensor-status .sensor .ant-col:nth-child(odd) {
    background: #101010;
}

.sensor-status .sensor-chart {
    display: flex;
    justify-content: flex-start;
}

.sensor-status .sensor-chart .ant-col {
    border-right: 0.5px solid #303030;
}


.tunnel-form .ant-form-item {
    margin-bottom: 12px !important;
}

.apexcharts-datalabel-value {
    fill: #fff;
}

.ant-message-notice-content {
    background: #fff;
    color: black;
}