.health-check {
    margin-top: 28px;
}

/* 터널 구분 X */
.no-division-wrap {
    width: 100%;
}

.no-division-wrap > div {
    width: 14.28571428571429%;
    height: 140px;
    padding: 5px;
}

.no-division {
    height: 100%;
}

.no-division > .ant-card-body {
    height: 70%;
}

.no-division-check {
    position: relative;
    width: 100%;
    height: 100%;
}

.no-division-trafficlight {
    transform: rotate(-90deg);
    position: absolute;
    top: -50%;
    left: 40%;
}

/* 터널 구분 O */
.health-1, .health-2 {
    padding: 5px;
}

.check-left,
.check-right {
    height: 100%;
}

.check-left > div,
.check-right > div {
    padding: 5px;
}

.division > .ant-card-body {
    height: 100%;
}

.division .cctv-optical,
.division .cctv-thermal,
.division .robot-optical,
.division .robot-thermal {
    display: inline-block;
    width: 50%;
    margin-top: 5px;
}

.check-list div {
    position: relative;
    padding: 0 0 2px 15px;
}

.trafficlight,
.trafficlight-title {
    transform: rotate(-90deg);
    position: absolute;
}

.trafficlight {
    top: -15px;
    left: 130px;
}

.trafficlight-title {
    top: -7px;
    left: 360px;
}

.hidden-box {
    height: 100%;
    display: inline-block;
    width: 100%;
    position: absolute;
    background-color: #141414;
    top: 0;
    left: 0;
    opacity: 1;
    cursor: pointer;
}

.hidden-box.active {
    opacity: 0;
}

.hidden-box > div {
    font-size: 25px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden-box .trafficlight {
    position: relative;
    top: 0;
    left: 50%;
}

.hidden-box > div > div {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hidden-box p {
    display: flex;
    justify-content: space-around;
}

.check-cctv .hidden-box > div,
.check-fbg .hidden-box > div {
    font-size: 28px;
}

.check-smoke .hidden-box > div {
    align-items: flex-start;
}

.check-smoke .hidden-box > div > div {
    align-items: flex-start;
    margin-top: 28px;
}

.check-smoke .hidden-box span {
    margin-top: 62px;
}
