.health-check {
    margin-top: 28px;
}

/* 터널 구분 X */
.no-division-wrap {
    width: 100%;
}

.no-division-wrap > div {
    width: 14.28571428571429%;
    height: 140px;
    padding: 5px;
}

.no-division {
    height: 100%;
}

/* 터널 구분 O */
.health-1, .health-2 {
    padding: 5px;
}

.check-left,
.check-right {
    height: 100%;
}

.check-left > div,
.check-right > div {
    padding: 5px;
}

.division .cctv-optical,
.division .cctv-thermal,
.division .robot-optical,
.division .robot-thermal {
    display: inline-block;
    width: 50%;
    margin-top: 5px;
}

.check-list div {
    position: relative;
    padding: 0 0 2px 15px;
}

.trafficlight,
.trafficlight-title {
    transform: rotate(-90deg);
    position: absolute;
}

.trafficlight {
    top: -15px;
    left: 130px;
}

.trafficlight-title {
    top: -7px;
    left: 360px;
}



/* 임의 크기 설정 
.division {
    height: 175px;
}

.check-right .division {
    height: 745px;
}*/

/* 임시3 */
.health-section .check-list div {
    position: relative;
}

.section-title svg,
.section-title1 svg {
    margin-top: 5px;
    margin-left: 60px;
}



.section {
    padding: 5px;
}



.section-title,
.section-title1 {
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #141414;
    position: absolute;
    width: 95%;
    height: 95%;
    margin-bottom: 10px;
    z-index: 999;
    border: none;
    box-shadow: none;
    cursor: pointer;
    opacity: 1;
}

.section-title.active,
.section-title1.active {
    opacity: 0;
}

.section-title1 {
    height: 80%;
}