/* 테이블 */
.ant-table {
    background : #424242;
}

.ant-table-wrapper.row-active .ant-table-row {
    background: #141414;
}

/* 모달 */
.ant-modal-mask {
    background-color: rgba(255,255,255,0.005);
}

.ant-modal-content {
    box-shadow: none;
    border-radius: 10px;
}

.ant-modal-content .ant-modal-close-x {
    display: none;
}

.ant-modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ant-modal-footer {
    display: flex;
    justify-content: flex-end;
}

.ant-modal-footer .ant-btn {
    width: 15%;
}

/* 컨펌 */
.ant-popover-placement-bottom > .ant-popover-content > .ant-popover-arrow {
    border-top-color: #fff;
    border-left-color: #fff;
}

.ant-popover-title {
    color: black;
    border-bottom: 0.5px solid #d0d0d0;
}

.ant-popover-inner {
    background-color: #fff;
}

.ant-popover-inner-content div p {
    color: black;
}

.ant-popover-message {
    color: black;
}

.ant-popover-buttons {
    display: flex;
    justify-content: flex-start;
}

.ant-popover-buttons button {
    margin-left: 4px;
    margin-right: 0;
    color: black;
}

.ant-popover-buttons .ant-btn-primary {
    color: #fff;
}

.user-confirm {
    width: 50%;
    background-color: #177ddc; /*#a03636;*/
    color: #fff;
}

.user-confirm.ant-popover-disabled-compatible-wrapper {
    background-color: transparent;
    color: black;
}