.header {
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.5px solid #b0b0b0;
    /*box-shadow: 4px 4px 40px 0 rgba(0,0,0,0.05);*/
}